datasets==3.2.0
loguru==0.7.2
matplotlib==3.3.2
nevergrad==1.0.8
nltk==3.5
numpy==1.24.4
openai==1.61.0
pandas==1.5.1
peft==0.14.0
requests==2.32.3
safetensors==0.5.2
scikit_learn==1.6.1
scipy==1.5.2
torch==1.11.0
transformers==4.48.2
vllm==0.7.1
